body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.container {
    max-width: 2500px;
    padding: 0 10vw;
}
h1, h2, h3, h4, h5 {
    font-family: "mattoneblack";
    text-transform: uppercase;
}
h1 {
    font-size: 5vw;
}
h2 {
    font-size: 4vw;
    line-height: 4vw;
}
h3 {
    font-size: 2.5vw;
    line-height: 2.5vw;
    text-transform: none;
}
.container-text-only img {
    width: 100%;
}
.container-text-only p {
    max-width: 90%;
    width: 90%;
}
.strate li {
    font-size: 18px;
    margin: 15px 0;
}
.strate li:before {
    content: '';
    width: 1.5vw;
    height: 1.5vw;
    display: inline-block;
    background-image: url("../images/symbole-2.png");
    background-size: contain;
    vertical-align: top;
    margin-right: 18px;
}
pre {
    font-size: 28px;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
}
p {
    font-size: 18px;
    line-height: 32px;
}
.swiper-pagination-bullet {
    background: #4343ff;
}
.strate {
    padding: 4vw 0;
}
.strate-hero {
    background: #4343ff;
}
.button {
    background: #4343ff;
    color: #fff;
    position: relative;
    font-family: "mattonebold";
    font-size: 18px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 20px 80px 20px 40px;
    transition: 0.3s;
}

.white .button{
    background: #fff;
    color: #4343ff;
    position: relative;
}

.press-footer{
    font-family: 'Open Sans', sans-serif;
}

.press-footer strong{
    font-family: "mattonebold";
}

.press-footer a{
    color: #FFF;
    text-decoration: underline;
}


.white .button:hover{
    background: #fff;
    color: #4343ff;
    position: relative;
}

.strate.container-image-on-text{
    padding: 200px 0;
}

.white .button::after {
    background-image: url(../images/blue-arrow.svg);
}

.button:after {
    content: '';
    position: absolute;
    right: 40px;
    top: 50%;
    width: 30px;
    transition: 0.4s;
    height: 20px;
    transform: translateY(-50%);
    background-image: url('../images/white-arrow.svg');
    background-repeat: no-repeat;
    background-position: right;
}
.button:hover {
    transform: rotate(-2deg);
    text-decoration: none;
    color: #fff;
}
.button:hover:after {
    right: 30px;
}
.swiper .card-slide img {
    margin-bottom: 0;
}
.strate-hero:after {
    content: '';
    width: 10vw;
    height: 10vw;
    position: absolute;
    right: 4vw;
    bottom: 4vw;
    background-image: url('../images/symbole-1.png');
    z-index: 5;
    background-size: contain;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-name: rotateAnim;
    animation-timing-function: linear;
}
.strate-hero img {
    max-width: 80%;
    border-radius: 2.5vw 0 0;
    margin-left: auto;
    display: block;
}
.strate-hero .strate-hero_inner {
    bottom: 4vw;
    left: 4vw;
    transform: translate(0, 0);
    top: auto;
    text-align: left;
    max-width: 80%;
}
.strate-hero .strate-hero_inner .button {
    background: #fff;
    color: #4343ff;
    position: relative;
}
.strate-hero .strate-hero_inner .button:after {
    background-image: url('../images/blue-arrow.svg');
}
.strate-hero .strate-hero_inner h1 {
    text-transform: uppercase;
    font-size: 8vw;
    line-height: 8vw;
}
.home .strate-hero .strate-hero_inner h1 {
    font-size: 7vw;
    line-height: 7vw;
}
.strate-hero .strate-hero_inner h2 {
    font-size: 2vw;
    line-height: 2vw;
    margin-bottom: 3vw;
    text-transform: none;
}
.container-image-full .background-cut {
    position: absolute;
    width: 100%;
}
.container-image-full img {
    position: relative;
    z-index: 3;
}
.container-slider-cards .card-slide {
    position: relative;
}
.container-slider-cards .card-slide .text {
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 2vw;
    z-index: 3;
}
.container-slider-cards .card-slide .text:before {
    content: '';
    width: 1vw;
    height: 1vw;
    position: absolute;
    bottom: 2vw;
    right: 2vw;
    background-image: url('../images/white-arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.4s;
}
.container-slider-cards .card-slide .text:after {
    content: "Découvrir";
    display: block;
    font-family: "mattoneblack";
    font-size: 16px;
    margin-top: 30px;
}
.container-slider-cards .card-slide:hover .text:before {
    right: 2.5vw;
}
.container-slider-cards .card-slide h1, .container-slider-cards .card-slide h2, .container-slider-cards .card-slide h3, .container-slider-cards .card-slide h4, .container-slider-cards .card-slide h5 {
    font-size: 1.5vw;
    line-height: 1.5vw;
    margin-bottom: 0px;
}
.container-slider-cards .card-slide a {
    display: block;
    position: relative;
}
.container-slider-cards .card-slide a:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
}
.container-slider-cards .card-slide a img {
    display: block;
}
header.burger .button-menu .text {
    color: #fff;
    position: relative;
    top: 7px;
    font-size: 25px;
    padding: 0 15px;
}
header.burger .button-menu {
    font-family: "mattoneblack";
}
header.burger .button-menu .barre {
    background: #fff;
    height: 3px;
    border-radius: 3px;
}
header.burger .button-menu .barre:before, header.burger .button-menu .barre:after {
    height: 3px;
    border-radius: 3px;
}
.menu-navigation ul li ul li a {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
header.burger .logo, header.burger .logo-scroll {
    width: 100%;
    margin-top: 2vw;
}
header.burger.is-scrolled {
    background: #4343ff;
}
header.burger.is-scrolled .button-menu {
    padding: 15px 30px;
}
header.burger.is-scrolled .logo-scroll {
    width: 190px;
    margin-top: 20px;
}
header.burger.is-scrolled .social {
    padding: 30px 30px 27px;
    margin-bottom: 0;
}
.container-pushs-articles .container-pushs-article {
    position: relative;
}
.container-pushs-articles .container-pushs-article:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background: #000;
    opacity: 0.3;
}
.container-pushs-articles .container-pushs-article .pushs-article-description {
    position: absolute;
    bottom: 4vw;
    left: 2vw;
    z-index: 3;
    color: #fff;
}
.container-pushs-articles .container-pushs-article .fake-link {
    position: absolute;
    left: 2vw;
    bottom: 2vw;
    color: #fff;
    z-index: 3;
    font-family: "mattoneblack";
    text-decoration: none;
}
.pushs-article-description h1, .pushs-article-description h2, .pushs-article-description h3, .pushs-article-description h4, .pushs-article-description h5 {
    font-size: 1.8vw;
    line-height: 1.8vw;
}
.pushs-article-description img {
    height: 30px;
    width: auto;
}
.container-pushs-article:hover .pushs-article-image {
    transform: scale(1);
}
.menu-navigation .menu {
    background: #4343ff;
}
.menu-navigation .menu li a {
    font-family: "mattoneblack";
}
.strate.marge-small {
    padding: 2vw 0;
}
footer li a {
    color: #fff;
    font-size: 14px;
}

footer .social{
    text-align: center!important;
    margin-top: 30px;
}
footer .copyright a {
    text-decoration: underline;
    font-size: 14px;
    color: #fff;
}
footer p {
    color: #fff;
    font-size: 18px;
}
/* Footer */
footer {
    padding: 40px 0;
    background: #4343ff;
}
footer .copyright {
    color: #fff;
    padding-top: 60px;
    font-size: 12px;
}
footer .logo-footer {
    width: 160px;
}
footer .menu li {
    margin-bottom: 5px;
}
footer .social {
    padding-top: 0;
}
footer p {
    font-family: "mattoneblack";
}
footer .menu li a {
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
footer .menu li a:hover {
    text-decoration: none;
}
footer .social svg path {
    fill: #fff !important;
}
@keyframes rotateAnim {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
/* COMMERCE */
.woocommerce-page header {
    background: #4343ff;
}
body .wc-block-components-checkout-step__title {
    line-height: 1.25em;
    font-size: 25px;
}
body .wc-block-components-checkout-step__description {
    font-size: 16px;
}
body .wc-block-components-title.wc-block-components-title {
    font-size: 24px;
}
.wc-block-components-order-summary .wc-block-components-order-summary-item:last-child > div {
    font-size: 16px;
}
body .wp-block-woocommerce-checkout {
    padding: 120px 0;
}
body:not(.woocommerce-block-theme-has-button-styles) .wc-block-components-button:not(.is-link) {
    background: #4343ff;
    color: #fff;
    position: relative;
    font-family: "mattonebold";
    font-size: 18px;
    display: inline-block;
    padding: 20px 40px 20px 40px;
    transition: 0.3s;
    border: 0;
}
.wp-block-woocommerce-checkout-actions-block .wc-block-checkout__actions_row .wc-block-components-checkout-place-order-button .wc-block-components-checkout-place-order-button__text {
    text-align: center;
    display: block !important;
}
.woocommerce-page header.burger .logo, header.burger .logo-scroll {
    height: 40px;
    margin-top: 22px;
}
.wc-block-components-form .wc-block-components-text-input input[type=email], .wc-block-components-form .wc-block-components-text-input input[type=number], .wc-block-components-form .wc-block-components-text-input input[type=password], .wc-block-components-form .wc-block-components-text-input input[type=tel], .wc-block-components-form .wc-block-components-text-input input[type=text], .wc-block-components-form .wc-block-components-text-input input[type=url], .wc-block-components-text-input input[type=email], .wc-block-components-text-input input[type=number], .wc-block-components-text-input input[type=password], .wc-block-components-text-input input[type=tel], .wc-block-components-text-input input[type=text], .wc-block-components-text-input input[type=url] {
    border: 1px solid #eee !important;
    padding: 20px !important;
    border-radius: 0 !important;
    font-size: 15px !important;
}
body .wc-block-components-checkbox .wc-block-components-checkbox__label, .wc-block-components-checkbox > span {
    font-size: 16px;
}
body .wc-block-components-checkbox label {
    font-size: 16px;
}
.is-large .wc-block-components-sidebar .wc-block-components-panel, .is-large .wc-block-components-sidebar .wc-block-components-totals-coupon, .is-large .wc-block-components-sidebar .wc-block-components-totals-item {
    font-size: 16px;
}
.wc-block-components-radio-control--highlight-checked .wc-block-components-radio-control-accordion-option--checked-option-highlighted, .wc-block-components-radio-control--highlight-checked label.wc-block-components-radio-control__option--checked-option-highlighted {
    border-radius: 0 !important;
    padding: 30px;
    box-shadow: inset 0 0 0 1.5px #eee !important;
}
body .wc-block-components-sidebar-layout.wc-block-cart {
    padding-top: 100px;
    padding-bottom: 100px;
}
.editor-styles-wrapper table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__quantity .wc-block-cart-item__remove-link, table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__quantity .wc-block-cart-item__remove-link {
    font-size: 16px !important;
}
.editor-styles-wrapper table.wc-block-cart-items .wc-block-cart-items__row .wc-block-components-product-name, table.wc-block-cart-items .wc-block-cart-items__row .wc-block-components-product-name {
    font-size: 22px !important;
    font-family: "mattonebold";
    color: #4343ff;
}
.wc-block-components-form .wc-block-components-text-input input:-webkit-autofill + label, .wc-block-components-form .wc-block-components-text-input.is-active label, .wc-block-components-text-input input:-webkit-autofill + label, .wc-block-components-text-input.is-active label, .wc-block-components-form .wc-block-components-text-input label, .wc-block-components-text-input label {
    transform: translateY(-10px) scale(0.75) !important;
    background: #fff;
    left: 15px !important;
}
.wc-block-components-validation-error > p {
    font-size: 12px !important;
}
.wc-block-components-form .wc-block-components-text-input label, .wc-block-components-text-input label {
    top: 0px !important;
}
.editor-styles-wrapper table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__prices, table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__prices {
    font-size: 16px;
}
.editor-styles-wrapper table.wc-block-cart-items .wc-block-cart-items__header, table.wc-block-cart-items .wc-block-cart-items__header {
    font-size: 16px !important;
}
.editor-styles-wrapper table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__total, table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__total, .is-large.wc-block-cart .wc-block-cart__totals-title {
    font-size: 16px !important;
}
.wc-block-components-form .wc-block-components-text-input input:-webkit-autofill + label, .wc-block-components-form .wc-block-components-text-input.is-active label, .wc-block-components-text-input input:-webkit-autofill + label, .wc-block-components-text-input.is-active label {
    left: 20px;
}
.woocommerce-page header.burger .button-menu {
    padding: 15px;
}
.woocommerce-page .social {
    padding: 30px;
    margin-bottom: 0;
}
.woocommerce-page header.burger {
    position: relative;
}
.woocommerce-order .woocommerce-notice {
    display: none;
}
.woocommerce-order .woocommerce-order-details__title, .woocommerce-order .woocommerce-column__title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
}
.select-quant {
    border: 1px solid #ccc;
    padding: 10px 0;
    text-align: center;
}
.xoo-wsc-icon-basket1:before {
    color: #4343ff;
}
.xoo-wsc-items-count {
    background: #4343ff;
}
.xoo-wsc-ft-buttons-cont a.xoo-wsc-ft-btn, .xoo-wsc-container .xoo-wsc-btn {
    background: #4343ff;
}
.woocommerce-order {
    padding-top: 180px;
    padding-bottom: 180px;
}
.woocommerce-table__product-name a {
    color: #4343ff;
}
.product-variations {
    border: 1px solid #ddd;
    padding: 30px;
    margin-top: 40px;
}
.product-variations td, .product-variations th {
    padding: 30px;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
}
.product-variations .button {
    background: #4343ff !important;
    color: #fff !important;
    padding: 15px 80px 15px 60px !important;
    margin-left: 15px !important;
    display: inline-block;
}
.strate-hero .letter {
    opacity: 0;
    display: inline;
    transform: translateY(20px);
    transition: opacity 0.3s, transform 0.3s;
}

.strate-hero .letter.visible {
    opacity: 1;
    transform: translateY(0);
    display: inline-block;
}

.strate-hero .letter.space {
    width: 0.5em;
    display: inline-block;
}

.strate-hero h1,
.strate-hero h2,
.strate-hero p {
  white-space: normal;
}

.strate-hero .letter {
  word-break: keep-all;
}

.strate-hero .word {
    opacity: 0;
    display: inline-block;
    transform: translateY(20px);
    transition: opacity 0.4s, transform 0.4s;
    white-space: pre; /* pour garder les espaces */
}

.strate-hero .word.visible {
    opacity: 1;
    transform: translateY(0);
}

.container-text-only h1,
.container-text-only h2,
.container-text-only h3,
.container-text-only h4,
.container-text-only h5,
.container-text-only p,
.container-text-only pre {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.7s cubic-bezier(.77,0,.18,1), transform 0.7s cubic-bezier(.77,0,.18,1);
}

.container-text-only .text-appear {
    opacity: 1;
    transform: translateY(0);
}

.container-image-text h1,
.container-image-text h2,
.container-image-text h3,
.container-image-text h4,
.container-image-text h5,
.container-image-text p,
.container-image-text pre {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.7s cubic-bezier(.77,0,.18,1), transform 0.7s cubic-bezier(.77,0,.18,1);
}

.container-image-text .text-appear {
    opacity: 1;
    transform: translateY(0);
}

#page-transition {
  position: fixed;
  left: 0;
  bottom: -100vh;
  width: 100vw;
  height: 100vh;
  background: #4343ff;
  z-index: 999999;
  pointer-events: none;
  transition: bottom 0.7s cubic-bezier(.77,0,.18,1);
}

#page-transition.active {
  bottom: 0;
  pointer-events: all;
  z-index: 999999;
  transition: bottom 0.7s cubic-bezier(.77,0,.18,1);
}

#page-transition.hide {
  transition: none;
  bottom: -100vh;
  z-index: 999999;
}

.page-loader{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #4343ff;
    z-index: 999999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 768px) {
    header.burger .logo, header.burger .logo-scroll{
        width: 150px;
        margin-top: 30px;
    }

    .strate{
        padding: 50px 0;
    }
    .container{
        padding: 0 20px;
    }

    .strate li:before{
        width: 25px;
        height: 25px;
        margin-right: 8px;
    }

    header.burger.is-scrolled .logo-scroll{
        width: 110px;
        margin-top: 9px;
    }

    header.burger.is-scrolled .button-menu{
        padding: 15px 10px;
    }

    header.burger.is-scrolled.is-visible{
        padding-bottom: 7px;
    }

    .strate.marge-small{
        padding: 15px 0;
    }


    h2{
       font-size: 30px;
        line-height: 35px;
    }

    h3{
        font-size: 25px;
        line-height: 30px;
    }

    .strate-hero img{
        max-width: 100%;
    }

    .strate-hero.full{
        height: 400px;
    }

    .strate-hero .strate-hero_inner{
        bottom: auto;
    }
    .strate-hero .strate-hero_inner h1{
        font-size: 40px;
        line-height: 45px;
    }
    .home .strate-hero.full{
        height: 600px;
    }

    .button{
        padding: 15px;
        margin-bottom: 0;
    }

    footer{
        text-align: center;
    }

    .menu-navigation ul li a{
        font-size: 18px;
    }

    footer .logo-footer{
        margin-bottom: 30px;
    }

    .button:after{
        display: none;
    }

    .home .strate-hero .strate-hero_inner h1{
        font-size: 50px;
        line-height: 55px;
    }

    .strate-hero .strate-hero_inner{
        text-align: center;
        width: 100%;
        left: 0;
        padding: 30px;
        max-width: 100%;
        top: 50%;
        transform: translateY(-45%);
    }
    .strate-hero .strate-hero_inner h2{
        font-size: 20px;
        line-height: 26px;
    }

}